<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="MyCon" connectionString="Data Source=Server;Initial Catalog=NetSqlAzmanStorage;User ID=sa;Password=1234" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="AzManConnectionStringName" value="MyCon" />
    <add key="AzManAppName" value="MyApp" />
    <add key="AzManStorageName" value="MyStore" />
    <add key="AzManDomainName" value="MyDomain" />
  </appSettings>
</configuration>