<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="AzManCon" connectionString="Data Source=Server;Initial Catalog=YOUR_DB_NAME;User ID=sa;Password=1234" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="AzManConnectionStringName" value="AzManCon" />
    <add key="AzManAppName" value="YOUR_VALUE_HERE" />
    <add key="AzManStorageName" value="YOUR_VALUE_HERE" />
    <add key="AzManDomainName" value="YOUR_VALUE_HERE" />
  </appSettings>
</configuration>