<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="HealthMonitoring" connectionString="Data Source=Server;Initial Catalog=NetSqlAzmanStorage;User ID=sa;Password=abcd/1234" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="AzManConnectionStringName" value="HealthMonitoring" />
    <add key="AzManAppName" value="Tebkar" />
    <add key="AzManStorageName" value="SepnaStore" />
    <add key="AzManDomainName" value="SEPNA" />
    <add key="AzManBypass" value="true" />
  </appSettings>
</configuration>